* {
    box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
    text-align: center;
    color: #32323e;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}
a {
    text-decoration: none;
    color: #6441a5;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
}
.header {
    position: relative;
    text-align: center;
    height: 15%;
}
.header .header-inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.header .logo {
    display: inline-block;
    font-size: 3.5em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: -0.05em;
    border-bottom: none;
    margin-bottom: 0.075em;
}
.header .fork-me {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    max-width: 33%;
}
.header .fork-me img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.main-wrapper {
  height: 85%;
  position: relative;
}
@media (max-width: 480px) {
    .header .logo {
        font-size: 2.5em;
    }
}

/* # Tooltips
================================================== */

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
